# Final Project

## Predict whether a mammogram mass is benign or malignant

We'll be using the "mammographic masses" public dataset from the UCI repository (source: https://archive.ics.uci.edu/ml/datasets/Mammographic+Mass)

This data contains 961 instances of masses detected in mammograms, and contains the following attributes:


   1. BI-RADS assessment: 1 to 5 (ordinal)  
   2. Age: patient's age in years (integer)
   3. Shape: mass shape: round=1 oval=2 lobular=3 irregular=4 (nominal)
   4. Margin: mass margin: circumscribed=1 microlobulated=2 obscured=3 ill-defined=4 spiculated=5 (nominal)
   5. Density: mass density high=1 iso=2 low=3 fat-containing=4 (ordinal)
   6. Severity: benign=0 or malignant=1 (binominal)
   
BI-RADS is an assesment of how confident the severity classification is; it is not a "predictive" attribute and so we will discard it. The age, shape, margin, and density attributes are the features that we will build our model with, and "severity" is the classification we will attempt to predict based on those attributes.

Although "shape" and "margin" are nominal data types, which sklearn typically doesn't deal with well, they are close enough to ordinal that we shouldn't just discard them. The "shape" for example is ordered increasingly from round to irregular.

A lot of unnecessary anguish and surgery arises from false positives arising from mammogram results. If we can build a better way to interpret them through supervised machine learning, it could improve a lot of lives.

## Your assignment

Apply several different supervised machine learning techniques to this data set, and see which one yields the highest accuracy as measured with K-Fold cross validation (K=10). Apply:

* Decision tree
* Random forest
* KNN
* Naive Bayes
* SVM
* Logistic Regression
* And, as a bonus challenge, a neural network using Keras.

The data needs to be cleaned; many rows contain missing data, and there may be erroneous data identifiable as outliers as well.

Remember some techniques such as SVM also require the input data to be normalized first.

Many techniques also have "hyperparameters" that need to be tuned. Once you identify a promising approach, see if you can make it even better by tuning its hyperparameters.

I was able to achieve over 80% accuracy - can you beat that?

Below I've set up an outline of a notebook for this project, with some guidance and hints. If you're up for a real challenge, try doing this project from scratch in a new, clean notebook!

## Let's begin: prepare your data

Start by importing the mammographic_masses.data.txt file into a Pandas dataframe (hint: use read_csv) and take a look at it.

In [7]:
import pandas as pd

masses_data = pd.read_csv('mammographic_masses.data.txt')
masses_data.head()

   5  67  3 5.1 3.1  1
0  4  43  1   1   ?  1
1  5  58  4   5   3  1
2  4  28  1   1   3  0
3  5  74  1   5   ?  1
4  4  65  1   ?   3  0

Make sure you use the optional parmaters in read_csv to convert missing data (indicated by a ?) into NaN, and to add the appropriate column names (BI_RADS, age, shape, margin, density, and severity):

In [8]:
masses_data = pd.read_csv('mammographic_masses.data.txt', na_values=['?'], names = ['BI-RADS', 'age', 'shape', 'margin', 'density', 'severity'])
masses_data.drop('BI-RADS', axis=1, inplace=True)
masses_data.head()

    age  shape  margin  density  severity
0  67.0    3.0     5.0      3.0         1
1  43.0    1.0     1.0      NaN         1
2  58.0    4.0     5.0      3.0         1
3  28.0    1.0     1.0      3.0         0
4  74.0    1.0     5.0      NaN         1

Evaluate whether the data needs cleaning; your model is only as good as the data it's given. Hint: use describe() on the dataframe.

In [9]:
masses_data.describe()

              age       shape      margin     density    severity
count  956.000000  930.000000  913.000000  885.000000  961.000000
mean    55.487448    2.721505    2.796276    2.910734    0.463059
std     14.480131    1.242792    1.566546    0.380444    0.498893
min     18.000000    1.000000    1.000000    1.000000    0.000000
25%     45.000000    2.000000    1.000000    3.000000    0.000000
50%     57.000000    3.000000    3.000000    3.000000    0.000000
75%     66.000000    4.000000    4.000000    3.000000    1.000000
max     96.000000    4.000000    5.000000    4.000000    1.000000

There are quite a few missing values in the data set. Before we just drop every row that's missing data, let's make sure we don't bias our data in doing so. Does there appear to be any sort of correlation to what sort of data has missing fields? If there were, we'd have to try and go back and fill that data in.

In [18]:
masses_data[masses_data.isnull().any(axis=1)]

      age  shape  margin  density  severity
1    43.0    1.0     1.0      NaN         1
4    74.0    1.0     5.0      NaN         1
5    65.0    1.0     NaN      3.0         0
6    70.0    NaN     NaN      3.0         0
7    42.0    1.0     NaN      3.0         0
9    60.0    NaN     5.0      1.0         1
12   64.0    1.0     NaN      3.0         0
19   40.0    1.0     NaN      NaN         0
20   66.0    NaN     NaN      1.0         1
22   43.0    1.0     NaN      NaN         0
26   66.0    1.0     1.0      NaN         0
27   63.0    3.0     NaN      3.0         0
35   77.0    3.0     NaN      NaN         0
38   48.0    4.0     5.0      NaN         1
40   59.0    2.0     1.0      NaN         0
43   61.0    2.0     1.0      NaN         0
45   44.0    2.0     4.0      NaN         1
47   23.0    1.0     1.0      NaN         0
48   42.0    NaN     NaN      4.0         0
52   23.0    1.0     1.0      NaN         0
53   63.0    2.0     1.0      NaN         0
54   53.0    NaN     5.0      3.0         1
55   43.0    3.0     4.0      NaN         0
57   51.0    2.0     4.0      NaN         0
58   45.0    2.0     1.0      NaN         0
59   59.0    2.0     NaN      NaN         1
63   57.0    2.0     1.0      NaN         0
65   25.0    2.0     1.0      NaN         0
67   72.0    4.0     3.0      NaN         1
74   70.0    NaN     4.0      NaN         1
..    ...    ...     ...      ...       ...
496  82.0    NaN     5.0      3.0         1
501  59.0    4.0     4.0      NaN         1
519  68.0    NaN     NaN      3.0         0
520  62.0    4.0     NaN      3.0         1
521  65.0    1.0     NaN      3.0         1
531  55.0    NaN     NaN      3.0         0
537  63.0    NaN     4.0      3.0         1
541  49.0    2.0     NaN      3.0         0
554  70.0    NaN     5.0      3.0         1
561  59.0    NaN     4.0      3.0         0
569  64.0    3.0     4.0      NaN         1
574  60.0    3.0     NaN      NaN         0
581  65.0    NaN     1.0      2.0         0
614  46.0    NaN     5.0      NaN         1
627  57.0    2.0     1.0      NaN         0
660  58.0    NaN     4.0      3.0         1
661  51.0    NaN     4.0      3.0         0
662  50.0    NaN     NaN      3.0         1
665  27.0    2.0     1.0      NaN         0
677  57.0    4.0     4.0      NaN         1
683   NaN    3.0     3.0      3.0         1
691  72.0    3.0     NaN      3.0         0
723  60.0    3.0     NaN      4.0         0
745  76.0    3.0     NaN      3.0         0
752  48.0    NaN     4.0      NaN         1
778  60.0    NaN     4.0      3.0         0
819  35.0    3.0     NaN      2.0         0
824  40.0    NaN     3.0      4.0         1
884   NaN    4.0     4.0      3.0         1
923   NaN    4.0     3.0      3.0         1

[130 rows x 5 columns]

If the missing data seems randomly distributed, go ahead and drop rows with missing data. Hint: use dropna().

In [19]:
masses_data.dropna(inplace=True)

Next you'll need to convert the Pandas dataframes into numpy arrays that can be used by scikit_learn. Create an array that extracts only the feature data we want to work with (age, shape, margin, and density) and another array that contains the classes (severity). You'll also need an array of the feature name labels.

In [22]:
all_features = masses_data[['age', 'shape',
                             'margin', 'density']].values


all_classes = masses_data['severity'].values
feature_names = ['age', 'shape', 'margin', 'density']

all_features

array([[67.,  3.,  5.,  3.],
       [58.,  4.,  5.,  3.],
       [28.,  1.,  1.,  3.],
       ...,
       [64.,  4.,  5.,  3.],
       [66.,  4.,  5.,  3.],
       [62.,  3.,  3.,  3.]])

Some of our models require the input data to be normalized, so go ahead and normalize the attribute data. Hint: use preprocessing.StandardScaler().

In [23]:
from sklearn import preprocessing

scaler = preprocessing.StandardScaler()
all_features_scaled = scaler.fit_transform(all_features)
all_features_scaled

array([[ 0.76580356,  0.17445989,  1.39563127,  0.24031298],
       [ 0.15166622,  0.97988304,  1.39563127,  0.24031298],
       [-1.89545824, -1.43638642, -1.15892729,  0.24031298],
       ...,
       [ 0.56109111,  0.97988304,  1.39563127,  0.24031298],
       [ 0.69756608,  0.97988304,  1.39563127,  0.24031298],
       [ 0.42461615,  0.17445989,  0.11835199,  0.24031298]])

## Decision Trees

Before moving to K-Fold cross validation and random forests, start by creating a single train/test split of our data. Set aside 75% for training, and 25% for testing.

In [24]:
import numpy
from sklearn.model_selection import train_test_split

(training_inputs,
 testing_inputs,
 training_classes,
 testing_classes) = train_test_split(all_features_scaled, all_classes, train_size=0.75, random_state=1)

/Users/fede/Projects/MLNN/env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

Now create a DecisionTreeClassifier and fit it to your training data.

In [35]:
from sklearn.tree import DecisionTreeClassifier
clf= DecisionTreeClassifier(random_state=1)
# Train the classifier on the training set
clf.fit(training_inputs, training_classes)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

Display the resulting decision tree.

Measure the accuracy of the resulting decision tree model using your test data.

In [37]:
clf.score(testing_inputs, testing_classes)

0.7067307692307693

Now instead of a single train/test split, use K-Fold cross validation to get a better measure of your model's accuracy (K=10). Hint: use model_selection.cross_val_score

In [30]:
from sklearn.model_selection import cross_val_score
clf = DecisionTreeClassifier(random_state=1)
cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.7328586121489442

Now try a RandomForestClassifier instead. Does it perform better?

In [39]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10, random_state=1)
cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.7446895596322572

## SVM

Next try using svm.SVC with a linear kernel. How does it compare to the decision tree?

In [41]:
from sklearn import svm

C = 1.0
svc = svm.SVC(kernel='linear', C=C)

In [42]:
cv_scores = cross_val_score(svc, all_features_scaled, all_classes, cv=10)

cv_scores.mean()

0.7955434980339476

## KNN
How about K-Nearest-Neighbors? Hint: use neighbors.KNeighborsClassifier - it's a lot easier than implementing KNN from scratch like we did earlier in the course. Start with a K of 10. K is an example of a hyperparameter - a parameter on the model itself which may need to be tuned for best results on your particular data set.

In [43]:
from sklearn import neighbors

clf = neighbors.KNeighborsClassifier(n_neighbors=10)
cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)

cv_scores.mean()

0.7857149853770482

Choosing K is tricky, so we can't discard KNN until we've tried different values of K. Write a for loop to run KNN with K values ranging from 1 to 50 and see if K makes a substantial difference. Make a note of the best performance you could get out of KNN.

In [46]:
max_k = 0
max_score = 0
for n in range(1, 50):
    clf = neighbors.KNeighborsClassifier(n_neighbors=n)
    cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)
    mean = cv_scores.mean()
    if mean > max_score:
        max_k = n
        max_score = mean
print(max_k, max_score)

11 0.7918121965212768

## Naive Bayes

Now try naive_bayes.MultinomialNB. How does its accuracy stack up? Hint: you'll need to use MinMaxScaler to get the features in the range MultinomialNB requires.

In [47]:
from sklearn.naive_bayes import MultinomialNB

scaler = preprocessing.MinMaxScaler()
all_features_minmax = scaler.fit_transform(all_features)

clf = MultinomialNB()
cv_scores = cross_val_score(clf, all_features_minmax, all_classes, cv=10)

cv_scores.mean()

0.7823041294096245

## Revisiting SVM

svm.SVC may perform differently with different kernels. The choice of kernel is an example of a "hyperparamter." Try the rbf, sigmoid, and poly kernels and see what the best-performing kernel is. Do we have a new winner?

In [48]:
C = 1.0
svc = svm.SVC(kernel='rbf', C=C)
cv_scores = cross_val_score(svc, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.8002763667912067

In [49]:
C = 1.0
svc = svm.SVC(kernel='sigmoid', C=C)
cv_scores = cross_val_score(svc, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.7353847445531254

In [50]:
C = 1.0
svc = svm.SVC(kernel='poly', C=C)
cv_scores = cross_val_score(svc, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.7906084267383122

## Logistic Regression

We've tried all these fancy techniques, but fundamentally this is just a binary classification problem. Try Logisitic Regression, which is a simple way to tackling this sort of thing.

In [51]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()
cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.8063735779354351

## Neural Networks

As a bonus challenge, let's see if an artificial neural network can do even better. You can use Keras to set up a neural network with 1 binary output neuron and see how it performs. Don't be afraid to run a large number of epochs to train the model if necessary.

In [58]:
from keras.layers import Dense
from keras.models import Sequential

def create_model():
    model = Sequential()
    #4 feature inputs going into an 6-unit layer (more does not seem to help - in fact you can go down to 4)
    model.add(Dense(6, input_dim=4, kernel_initializer='normal', activation='relu'))
    # "Deep learning" turns out to be unnecessary - this additional hidden layer doesn't help either.
    model.add(Dense(2, kernel_initializer='normal', activation='relu'))
    # Output layer with a binary classification (benign or malignant)
    model.add(Dense(1, kernel_initializer='normal', activation='sigmoid'))
    # Compile model; rmsprop seemed to work best
    model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])
    return model

In [59]:
from keras.wrappers.scikit_learn import KerasClassifier

# Wrap our Keras model in an estimator compatible with scikit_learn
estimator = KerasClassifier(build_fn=create_model, nb_epoch=100, verbose=0)
# Now we can use scikit_learn's cross_val_score to evaluate this model identically to the others
cv_scores = cross_val_score(estimator, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.5560671266508186

NameError: name 'df' is not defined

## Do we have a winner?

Which model, and which choice of hyperparameters, performed the best? Feel free to share your results!

In [64]:
from sklearn.cluster import KMeans

clf = KMeans(n_clusters=2)
cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

-190.9602608001988

In [79]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn import neighbors
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression

models = [
    DecisionTreeClassifier(random_state=1),
    RandomForestClassifier(n_estimators=10, random_state=1),
    svm.SVC(kernel='linear', C=1.0),
    svm.SVC(kernel='rbf', C=1.0),
    svm.SVC(kernel='sigmoid', C=1.0),
    svm.SVC(kernel='poly', C=1.0),
    LogisticRegression(),
    neighbors.KNeighborsClassifier(n_neighbors=10),
    # MultinomialNB()
]
results = pd.DataFrame(columns=['score'])
for model in models:
    cv_scores = cross_val_score(model, all_features_scaled, all_classes, cv=10)
    results.loc[model.__str__()] = cv_scores.mean()
results.sort_values('score', ascending=False)

                                                       score
LogisticRegression(C=1.0, class_weight=None, du...  0.806374
SVC(C=1.0, cache_size=200, class_weight=None, c...  0.800276
SVC(C=1.0, cache_size=200, class_weight=None, c...  0.795543
SVC(C=1.0, cache_size=200, class_weight=None, c...  0.790608
KNeighborsClassifier(algorithm='auto', leaf_siz...  0.785715
RandomForestClassifier(bootstrap=True, class_we...  0.744690
SVC(C=1.0, cache_size=200, class_weight=None, c...  0.735385
DecisionTreeClassifier(class_weight=None, crite...  0.732859